.section {
  overflow: hidden;
  position: absolute;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
  background-image: url("../assets/backgroung-img.svg");
  filter: contrast(2);
  border-radius: 25px;

  /* PAGE ABOUT */
}
.sectionAbout {
  overflow: hidden;
  position: absolute;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
  background-image: url("../assets/background-About-img.svg");
  filter: contrast(2);
  border-radius: 25px;
 
}


.banner-container {
  position: absolute;
  width: 1240px;
  height: 223px;

  opacity: 66%;
  filter: brightness(1.5);
  background: #363636;

  border-radius: 25px;
}
.banner-title {
  
  position: absolute;
  width:705px;
  height:65px;
  left: 20.9%;
  right: 25.14%;
  top: 24.32%;
  bottom: 69.04%;
   

  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 142.6%;
  /* or 68px */

  display: flex;
  align-items: flex-end;

  color:rgb(255, 255, 255)   ;
}
