.section {
  overflow: hidden;
  position: absolute;
  width: 1240px;
  height: 223px;
  left: 100px;
  top: 171px;
  background-image: url("../assets/backgroung-img.svg");
  border: red 1px solid;
  border-radius: 25px;
}

.banner-container {
  position: absolute;
  width: 1240px;
  height: 223px;

  opacity: 66%;
  background: #000000;

  border-radius: 25px;
}
.banner-title {
  position: absolute;
  left: 25.9%;
  right: 25.14%;
  top: 50%;
  bottom: 69.04%;

  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 142.6%;
  /* or 68px */

  display: flex;
  align-items: flex-end;

  color: #ffffff;
}
