.kasa-house-list {
    position: absolute;
    left: 100px;
    top:437px;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1240px;
    height: fit-content;
    //border: red solid 1px;
 

    background: #F7F7F7;
    border-radius: 25px;
    
}

 