.error-number {
  position: absolute;
  width: 597px;
  height: 263px;
  left: 432px;
  top: 260px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 288px;
  line-height: 142.6%;
  /* or 411px */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ff6060;
}

.error-message {
  position: absolute;
  left: 20.49%;
  right: 18.96%;
  top: 80.18%;
  bottom: 35.84%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 142.6%;
  /* or 51px */

  display: flex;
  align-items: flex-end;

  color: #ff6060;
}

.error-return {
  position: absolute;
  left: 36%;
  right: 40.14%;
  top: 89.93%;
  bottom: 15.53%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  /* identical to box height, or 26px */
  display: flex;
  align-items: flex-end;
  
  color: #ff6060;
}

.nav-link{
  text-decoration:none;
  color: #FF6060;
}

.nav-link:hover{
  text-decoration:none;
  color: #FF6060;

}