.kasa-footer{
position: relative;
top:3250px;
left:100px;
width: 1240px;
height: 209px;
background: #000000;
border: red 2px solid;
}

.footer-logo{
    color: aliceblue;
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 31.58%;
    bottom: 49.55%;
    width: 122px;
    height: 40px;
}

.footer-allright{
    color: aliceblue;
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 40.58%;
    bottom: 49.55%;
    width: 400px;
    height: 150px;

}

.foot-allright {
position: absolute;
left: 36.15%;
right: 32.22%;
top: 64.11%;
bottom: 13.88%;

width:513px;
height:46px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
/* or 34px */

display: flex;
align-items: flex-end;
text-align: center;

color: #FFFFFF;
}