
.kasa-house-container{
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width:340px;
    height:340px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
    /* border:5px yellow solid; */
    overflow: hidden;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%)
    
    
}

.kasa-house-title {
position: relative;
left: 4%;
right: 5.88%;
top: 75.82%;
bottom: 5.88%;
opacity: 0.9;
width: 90%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
/* or 26px */
display: flex;
align-items: flex-end;

color: #FFFFFF;


        
}


.cover-image{
    width:345px;
    height:390px;  
    filter: contrast(1);
    opacity: 0.6; 
    z-index: 1;
    position: relative;
    bottom: 75px;
    left: 0;
  
}

.cover-image:hover {
    opacity: 1;
    box-shadow: 1px 1px 5px lightgrey;
}