.security-item .fiability-item .service-item .respect-item{
  height: fit-content;
  width: 1043px;
  
}

 

.rectangle-respect,
.rectangle-fiability,
.rectangle-security,
.rectangle-service {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ff6060;
  border-radius: 5px;
  width: 1043px;
  height: 47px;
  border-radius: 5px;
  padding: 1px 15px;
}

.arrowClose {
  width: 14px;
  height: 24px;
  left: 8.73%;
  right: 42.64%;
  top: 75.84%;
  bottom: -58.34%;
  color: #ffffff;
  background: #ff6060;
  transform: rotate(-180deg);
}

.arrowOpen {
  width: 14px;
  height: 24px;
  left: 8.73%;
  right: 42.64%;
  top: 75.84%;
  bottom: -58.34%;
  color: #ffffff;
  background: #ff6060;
}

.rectangle-title {
  left: 3.44%;
  right: 80.44%;
  top: 18.33%;
  bottom: 18.33%;
  width: 97px;
  height: 34px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  /* identical to box height, or 19px */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.fiability-content, .respect-content, .security-content, .service-content {
  width: 1043px;
  background-color: lightgray;
  background: #F7F7F7;
  border-radius: 5px;
  padding: 15px;
}

.content {
  left: 1.76%;
  right: 2.64%;
  top: 40.22%;
  bottom: 10.33%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.6%;
  /* or 34px */

  color: #ff6060;
}
